<nav class='navbar navbar-dark fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' id="logo-button">Logo</a>
        </div>
        <div class="d-none logged">
            <div class='nav navbar-nav navbar-right text-right'>
                <div class="navbar-text">you are logged in with the email <div id="user-email"></div></div>
                <a class="nav-link" id="logout-button"><span class='fa fa-sign-out'></span>logout</a>
            </div>
        </div>
        <div class="d-block unlogged">
            <div class='nav navbar-nav navbar-right text-right'>
                <div class="navbar-text">login to access to all the functionalities</div>
                <div>
                    <a class="nav-link" id="register-button"><span class='fa fa-user-plus'></span>registration page</a>
                    <a class="nav-link" id="login-button"><span class='fa fa-sign-in'></span>login</a>
                </div>
            </div>
        </div>
    </div>
</nav>