<div class="sidenav position-fixed" id="sidenav">
    <div class="nav flex-column flex-nowrap overflow-auto">

        <ul class="list-group list-group-flush overflow-hidden">
            <li class="list-group-item list-group-item-action bg-light">
                <a id="homepage-link-button">Homepage</a>
            </li>
            <li class="d-none maintainer list-group-item list-group-item-action bg-light" id="drop-down-maintainer-menu">
                <a data-toggle="collapse" href="#collapseExample" class="nav-link btn-user media align-items-center">
                    Maintainer Area
                    <span class="fa fa-angle-down pull-right" id="icon-maintainer-menu"></span>
                </a>

                <ul class="collapse" id="collapseExample">
                    <!--
                    <li class="list-group-item list-group-item-action bg-light">
                        <a id="maintainer-link-button"> Maintenance page </a>
                    </li>-->
                    <li class="list-group-item list-group-item-action bg-light">
                        <a id="edit-maintenance-link-button">Insert Maintenance Event</a>
                    </li>
                    <li class="list-group-item list-group-item-action bg-light">
                        <a id="search-maintenance-link-button">Search Maintenance Events</a>
                    </li>
                    <li class="list-group-item list-group-item-action bg-light">
                        <a id="session-link-button">New Session File</a>
                    </li>
                </ul>
            </li>
            <li class="d-none builder list-group-item list-group-item-action bg-light">
                <a id="builder-link-button">Builder Page</a>
            </li>
            <li class="d-none admin list-group-item list-group-item-action bg-light">
                <a id="admin-link-button"> Admin Page </a>
            </li>
        </ul>
    </div>
</div>