

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #2c3e50;
    height: 10vh;
}

#sidenav{
    min-height:85vh;
    height:100%;
    width:20vw;
}

.navbar-text {
    color:white;
}

.nav-link{
    display: inline !important;
    margin-right: 30px;
}

span.fa{
    margin-right:0.4em;
}

#user-email{
    display: inline;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
}

.sidenav .list-group{
    margin-top:5vh;
}

#wrapper {
    margin-top: 10vh;
    padding-top: 2vh;
    position: relative;
    min-height: 85vh;
    margin-left:20vw;
    width:79vw;
}



/* Set black background color, white text and some padding */
footer {
    position: relative;
    background-color: #555;
    color: white;
    padding: 15px;
    height: 5vh;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.builder-tab-pane {

    margin-top: 50px;
    margin-left: 50px;

}