html, body {
    min-height: 100% !important;
    height:100vh;
    width:100vw;
}

body {
    margin:0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    background-color: #ffd97a;
    height: 15vh;
}

#upper-navbar{
    height: 10vh;
}

#buttons-navbar{
    position: absolute;
    top: 20px;
    right: 20px;
}

#menu-navbar{
    bottom:0;
    width: 100%;
    background-color: rgb(239, 215, 165);
    height: 5vh;
    text-align: center;
}

.nav-button{
    width: 8vw;
    height: 100%;
    font-size: 2em;
    border:none;
}
.nav-button:hover{
    background-color: rgba(239, 239, 239, 0.6);
}

.nav-button:active{
    background-color: rgb(239, 215, 165);
}


#logo-navbar{
    margin-left: 20px;
    padding-top: 20px;
}
#logo{
    height: 8vh;
}

#main-wrapper {
    min-height:85vh;
    height: 85vh;
}

#sidebar {
    background-color: orange;
    width: 15vw;
    height: inherit;
}

#sidebar-menu{
    padding-top:10vh;
}

#central-wrapper{
    width:75vw;
    position: absolute;
    left: 15vw;
    top: 15vh;
}

#page-content-wrapper {
    background-color: lightblue;
    min-height:80vh;
}

#page-content{
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.sidebar-button{
    user-select: none;
    background-color: #BBB;
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #999999 solid;
}

.sidebar-button:hover{
    background: aliceblue;
}
.sidebar-button:active{
    background: aquamarine;
}



#footer {
    position:relative;
    background-color: #999;
    height:5vh;

}

#footer-text{
    text-align: center;
    color:white;
    padding-top: 10px;
}

#banner{
    position: relative;
    background-color: yellow;
    left:90vw;
    width:10vw;
    text-align: center;
    margin-top: -85vh;
    height: inherit;
}

